.du-calendarBox{
    width: 300px;
    height: 300px;
}
.du-calendarBox table{
    border-collapse: collapse;
    border: 1px solid #eee;
    width:100%
}
.du-calendarBox table td{
    text-align: center;
    border: 1px solid #ccc;
}




.du-calendarBar{
    position: relative;
    height: 30px; ;
}
.du-calendarBar .du-left{
    position: absolute;
    left: 0;
    top:0;
}
.du-calendarBar .du-right{
    position: absolute;
    right: 0;
    top:0;
}
.du-calendarBar .du-time{
    width: 100%;
    display: block;
    text-align: center;
}